workflow:
  rules:
    - if: $CI_COMMIT_TAG

image:
  name: "registry.opensuse.org/isv/suseinfra/itpe/images/images/gitlab-runner-base:latest"

stages:
  - metadata
  - pipeline

calculate_policy_metadata:
  stage: metadata
  script:
    - .gitlab/extract-metadata.sh
  artifacts:
    reports:
      dotenv: build.env

generate_pipeline:
  stage: pipeline
  artifacts:
    paths:
      - .gitlab/generated-pipeline.yml
  script:
    - ./.gitlab/generate_pipeline.sh
  needs:
    - calculate_policy_metadata

run_pipeline:
  stage: pipeline
  needs:
    - calculate_policy_metadata
    - job: generate_pipeline
      artifacts: true
  trigger:
    include:
      - artifact: .gitlab/generated-pipeline.yml
        job: generate_pipeline
    strategy: depend
